<!DOCTYPE html>
<html>
  <head>
    <title>I steal your meme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
      const loadFile = (event) => {
        const image = document.getElementById('uploaded_img');
        const uploadButton = document.getElementById('upload_btn');

        if (event.target.files.length > 0) {
            image.src = URL.createObjectURL(event.target.files[0]);
            uploadButton.className = "btn btn-primary";
            uploadButton.disabled = false;
        } else {
            image.src = "";
            uploadButton.className = "btn btn-default";
            uploadButton.disabled = true;
        }
      };

      const deleteFile = (filename) => {
        $.post("/delete?img=" + filename, function (data) {
            window.location.href = data;
        })
      };
  </script>
  </head>
  <body>
      <div class="container-fluid">
          <div class="col-sm-6">
              <h1>Give me your meme</h1>
              <form action="{{ url_for('upload') }}" method="POST" enctype = "multipart/form-data">
                  <p>
                      <label for"img">Upload your meme here:</label>
                      <input type="file" id="img" name="img" accept="image/*" onchange="loadFile(event)" />
                  </p>
		          <p>
                      <img class="img-responsive" id="uploaded_img" />
		          </p>
                  <p>
                      <input class="btn btn-default" type="submit" id="upload_btn" value="Upload" disabled/>
                  </p>
              </form>
          </div>
          <div class="col-sm-6">
              {% if uploaded_files|length == 0 %}
              <h1>No memes were stolen!</h1>
              {% else %}
              <h1>Stolen memes</h1>
              <table>
              <tr>
                  <th>Filename</th>
                  <th>Action</th>
              </tr>
              {% for file in uploaded_files %}
              <tr>
              <td>{{file}}</td>
              <td><input class="btn btn-danger" type="submit" value="Delete" onclick="deleteFile('{{file}}')" /></td>
              </tr>
              {% endfor %}
              </table>
              {% endif %}
          </div>
      </div>
  </body>
</html>
