<!DOCTYPE html>
<html>
  <head>
    <title>I steal your meme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Upload Failed</h1>
    <p>
    <h3>Error: {{error}}</h3>
    </p>
    <p>
      <a href="{{ url_for('home') }}">
        <button type="button">Home</button>
      </a>
    </p>
  </body>
</html>
